
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-color: #562b47">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Kulbeer's Blog</h1>
                        <hr class="small">
                        <span class="subheading">A destination for the best short stories</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
 <!-- Main Content -->
<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for obj in objlist %}
                {% if obj.imageurl %}
                <div class="post-preview">
                    <a href="{{ obj.get_absolute_url }}">
                        <h2 class="post-title">
                           {{ obj.title }}
                        </h2>
                        <img src="{{ obj.imageurl }}" >
                    </a>
                    <p class="post-meta">{{ obj.timestamp }}</p>
                </div>
                {% else %}
                <div class="post-preview">
                    <a href="{{ obj.get_absolute_url }}">
                        <h2 class="post-title">
                           {{ obj.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ obj.content | linebreaks }}
                        </h3>
                    </a>
                    <p class="post-meta">{{ obj.timestamp }}</p>
                </div>
                <hr>
                {% endif %}
                {% endfor %}
                              <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                      {% if objlist.has_next %}
                        <a href="?page={{ objlist.next_page_number }}">Older Posts &rarr;</a>
                      {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>


{% endblock %}
