{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<header class="intro-header" style="background-color: #562b47;">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading" style="padding-top:100px;padding-bottom:50px">
                        <h1>{{ instance.title }}</h1>
                        <span class="meta">{{ instance.timestamp }}</span>
                    </div>
                </div>
            </div>
        </div>
</header>


{% if instance.imageurl %}

<!--
<header class="intro-header" style="background-image: url({{ instance.image.url }})">
-->
  <article>
      <div class="container" style="align:center;">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                  <img src="{{ instance.imageurl }}" >

              </div>
          </div>
      </div>
  </article>

{% else %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    {{ instance.content|linebreaks }}

                </div>
            </div>
        </div>
    </article>

{% endif %}

    <hr>

    <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="fb-like" data-href="{{ instance.get_absolute_url }}"
                      data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                    {% if  request.user.is_superuser %}
                    <a href = "{{ instance.get_absolute_url }}edit">
                      <button type="submit" class="btn btn-default" align:"right">Edit</button>
                    </a>
                    <a href = "{{ instance.get_absolute_url }}delete">
                      <button type="submit" class="btn btn-default" align:"right">Delete</button>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>



{% endblock %}
